 
<!-- Historique action -->
<div class="panel panel-danger" ng-controller="historique">
	<div class="panel-heading">
	<h4 class="panel-title">Historique des modifications</h4>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Date de modification</th>
					<th>Nom de l'utilisateur</th>
					<th>Type de modification</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="historiqueLigne in historique">
					<td><nobr>
							{{historiqueLigne.date_modification}}
							<nobr /></td>
					<td>{{historiqueLigne.nom_utilisateur}} {{historiqueLigne.prenom_utilisateur}}</td>
					<td>{{historiqueLigne.type_modification}}</td>
					<td>{{historiqueLigne.description_modification}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>